{% extends "base.html" %}
{% block main %}
{% raw %}
<div class="row">
  <h1>Sobre</h1>
  <p>Esse site é um experimento sobre a dinâmica de compartilhamento de conteúdo numa rede de pessoas.</p>
</div>
{% endraw %}
{% endblock %}
